.profile {
  background-color: rgb(255, 174, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
